<html
        lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Discovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <!-- Tether for Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-inverse">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/getPlanets">Shortest path</a>
        <a class="nav-item nav-link" href="/planetsList">Planets</a>
        <a class="nav-item nav-link" href="/routesList">Routes</a>
    </div>
</nav>

<div class="container">
    <div>
        <form modelAttribute="newVertex" th:object="${newVertex}" th:action="@{/addPlanetPageSubmit}"
              method="post">
            <div class="form-group">
                <label class="form-control" for="name">Name:</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" name="name"/>
            </div>
            <input type="hidden" th:field="*{id}" name="id"/>
            <button class="btn btn-success form-control" type="submit">Submit</button>
        </form>
    </div>

</div>

</body>
</html>

