<html
        lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Noma</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <!-- Tether for Bootstrap -->
    <script type="text/javascript" src="/js/planet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-inverse">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/getPlanets">Shortest path</a>
        <a class="nav-item nav-link" href="/planetsList">Planets</a>
        <a class="nav-item nav-link" href="/routesList">Routes</a>
    </div>
</nav>
<div class="container">
    <div>
        <form id="deleteItemForm" modelAttribute="edge" th:object="${edge}" th:action="@{/deleteRoute}"
              method="DELETE">
            <select class="form-control" id="sourceDropdownList" th:field="*{sourceId}" disabled="disabled">
                <option th:each="vertex : ${planets}" th:value="${vertex.id}" th:text="${vertex.name}">Wireframe
                </option>
            </select>
            <select class="form-control" id="destinationDropdownList" th:field="*{destinationId}" disabled="disabled">
                <option th:selected="(${vertex.id} == *{edgeId})" th:each="vertex : ${planets}" th:value="${vertex.id}"
                        th:text="${vertex.name}">Wireframe
                </option>
            </select>
            <input class="form-control" type="number" step="0.01" th:field="*{weight}" readonly="readonly"/>
            <input class="form-control" type="number" step="0.01" th:field="*{traffic}" readonly="readonly"/>
            <input class="form-control" type="hidden" th:field="*{edgeId}" name="edgeId"/>
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="DELETE"/>
            <!--<button class="btn btn-success form-control" type="submit">Delete</button>-->
        </form>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var planetName = [[${edge.source.id}]];
            var planetName2 = [[${edge.destination.id}]];
            var elementById = document.getElementById('sourceDropdownList');
            var elementById2 = document.getElementById('destinationDropdownList');
            setSelectedIndex(elementById, planetName);
            setSelectedIndex(elementById2, planetName2);

            function setSelectedIndex(s, v) {
                for (var i = 0; i < s.options.length; i++) {
                    if (s.options[i].value == v) {
                        s.options[i].selected = true;
                        return;
                    }
                }
            }
            /*]]>*/
        </script>

        <!--        <script th:inline="javascript">
                    $(document).ready(function () {
                        $('#deleteItemForm').on('submit', function (e) {
                            e.preventDefault();
                            var data = $('#destinationDropdownList').val();
                            var edgeId = [[${edge.edgeId}]];
                            alert(data);
                            $.delete("/deleteRoute", {String: edgeId}, function (result) {
                                alert(edgeId);
                                console.log(result);
                                if (result === "success") {
                                    $("#myModal").modal();
                                    $('#userFeedbackTextbox').val('')
                                } else {
                                    // error modal
                                }
                            }, 'text');
                        });
                    });

                </script>-->

    </div>

</div>

</body>
</html>

