<html
        lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Noma</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <!-- Tether for Bootstrap -->
    <script type="text/javascript" src="/js/planet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-inverse">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/getPlanets">Shortest path</a>
        <a class="nav-item nav-link" href="/planetsList">Planets</a>
        <a class="nav-item nav-link" href="/routesList">Routes</a>
    </div>
</nav>
<div class="container">
    <div>
        <a href="/addPlanetPage" class="btn btn-success optionButtons" role="button">New Planet</a><br/><br/>
        <table class="table table-bordered table-hover">
            <tr>
                <th></th>
                <th>Planet name</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="p,iterationStatus  : ${planets}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${p.name}">001</td>
                <td><a th:href="${'/editPlanetPage/'}+${p.id}">Edit</a></td>
                <td><a th:href="${'/deletePlanet/'}+${p.id}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">

</script>
</body>
</html>

